body{
    background-color: #606060;
}

.aboutDiv {
    height: 700px;
    padding-top: 30px;
    width:100%;
    background-color: lightgreen;
}


.portfolioDiv{
    padding-top: 30px;
    height: 1000px;
    width: 100%;
    color:white;
    background-color: dodgerblue;

}

.contact {
    height: 1000px;
    width: 100%;
    color: white;
    background-color: black;
    padding-top: 30px;
}

.main{
    margin-top: 50px !important;
    height: 800px;
}

.navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.navbar {height:35px !important}
